<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome to analyzeIT{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>analyzeIT</h1>
      <h3>Learn people's thoughts about things you are curious about.</h3>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'register' %}">register</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>