{% extends 'analyze/base.html' %}

{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>

 

  <a href="test/europe/">Test europe keywords</a> </br>
  <a href="test/turkey/">Test turkey keywords</a> </br>
  <a href="test/trump/">Test trump keywords</a> </br>
  <a href="test/sentiment/">Test sentiment keywords</a> </br>
  <a href="test/france/">Test france keywords</a> </br>
  <a href="test/django/">Test django keywords</a> </br>
  <a href="test/bogazici/">Test bogazici keywords</a> </br>
  <a href="test/rape/">Test rape keywords</a> </br>
  <a href="test/beautiful/">Test beautiful keywords</a> </br>

  <form method="post" action="/getdata/">
      {% csrf_token %} 
    <table>
        <tr>
            <td>Enter the keyword:</td>
            <td><input type="text" id="searchString"/></td>
            <td><input type="button" onclick="location.href='/test/'+document.getElementById('searchString').value+'/';" value="Click to analyze your keyword!" /></td>
        </tr>
        
    </table>
</form>



{% endblock %}